g.trace, g.slice, g.pielayer path.surface, g.pielayer path.textline{ 
    transition: all 2.69s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.home_card{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    transition: var(--standard-transition);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px, rgba(0, 0, 0, 0.23) 0px 6px 12px;
}

.home_card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 24px, rgba(0, 0, 0, 0.12) 0px -12px 15px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home_card{
    width: 100%;
    height: 96%;
    flex-grow: 1;
    padding: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.anime_card{
  display: flex;
  flex-flow: column;
  align-items: stretch;
  transition: var(--standard-transition);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px, rgba(0, 0, 0, 0.23) 0px 6px 12px;
}

.anime_card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 24px, rgba(0, 0, 0, 0.12) 0px -12px 15px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}